/* - - - - - - - - - - - - - - - - - - - - -

 Title : ACA Free Estimate Form Responsive Theme
 Author : Myke Agonia
 URL : http://mykeagonia08.github.io/css/wufoo/aca-responsive.css

 Last Updated : 

- - - - - - - - - - - - - - - - - - - - - */


/* - - - ACA Free Estimate Form Responsive Theme - - - */


/********************
Colors
-----
Blue: #123f68
    #0D6796
Green: #64c832
Red: #f05050
Orange: #ff9600
*********************/


/************Classes**************/

#container {

}

.wufoo {

}

/************End Classes**************/


/************Structure**************/


.wufoo .info h2 {
    margin-bottom: 10px;
    padding:  5px;
    font-size: 18px;
    color: #fff;
    background: #0D6796;
    text-align: center;
    border-bottom:  none;

}

.wufoo .info div {
  font-size: 16px;
  text-align: center;
}

.wufoo .req { display: none; }

.wufoo legend.desc {
  width: 100%;
  font-size: 16px;
  padding-bottom: 5px;
}


/*Next Page*/
.noI .rightLabel .buttons,
.rightLabel .buttons,
.noI .leftLabel .buttons,
.leftLabel .buttons {
  padding: 0;
}
.noI .leftLabel .buttons div {
  margin: 0;
}
.leftLabel li div, .rightLabel li div {
  width: 100%;
}
.wufoo input#nextPageButton {
  display: block;
  width: 100%;
  height: 48px;
  font-size: 16px;
  border-radius: 30px;
  background: #ff9600;
}



/************End Structure**************/


/************Mobile Queries**************/

    /* Custom, iPhone Retina */ 
    /* min-width 320px will be the default css*/
    /*@media only screen and (min-width : 320px) {

    }*/

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {

    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {

    }

/************End Mobile Queries**************/