/* - - - - - - - - - - - - - - - - - - - - -

 Title : Free Estimate Theme
 Author : Myke Agonia
 URL : http://mykeagonia08.github.io/css/wufoo/custom.css

 Last Updated : 

- - - - - - - - - - - - - - - - - - - - - */


/* - - - Free Estimate Theme - - - */


/* Logo */

#logo a {
    background-image: url('http://wufoo.com/images/themes/logos/shark.png');
    min-height: 0;
    height: 40px
}

* html #logo a {
    /* IE6 png Support */
    background-image: none;
    filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src="http://wufoo.com/images/themes/logos/shark.png", sizingMethod="crop");
}


/* Backgrounds */

html {
    background-image: none;
    background-color: #cccccc;
}

#logo {
    background-image: none;
    background-color: #123f68
}

#container {
    background: #FFFFFF
}

.wufoo input.text,
.wufoo textarea.textarea {
    background: #FFFFFF url(/images/fieldbg.gif) repeat-x top
}

.wufoo .focused {
    background: #FFF7C0
}

.wufoo .instruct {
    background-color: #F5F5F5
}


/* Borders */

#container {
    border: 0 solid #cccccc
}

.wufoo .info {
    border-bottom: 1px dotted #CCCCCC
}

.wufoo .instruct {
    border: 1px solid #e6e6e6
}


/* Typography */

.wufoo .info h2 {
    font-size: 160%;
    font-family: inherit;
    color: #000000;
    display: none;
}

.wufoo .info div {
    font-size: 95%;
    font-family: inherit;
    color: #444444;
    text-align: center;
}

.wufoo .section h3 {
    font-size: 110%;
    font-family: inherit;
    background: #FFFFFF;
    color: #000000
}

.wufoo .section div {
    font-size: 85%;
    font-family: inherit;
    color: #444444
}

.wufoo label.desc,
.wufoo legend.desc {
    font-size: 95%;
    font-family: inherit;
    color: #444444
}

.wufoo li div,
.wufoo li div label,
.wufoo li span label {
    font-family: inherit;
    color: #444444
}

.wufoo input.text,
.wufoo textarea.textarea,
.wufoo select.select,
.wufoo label.choice {
    font-size: 100%;
    font-family: inherit;
    color: #333333
}

.wufoo label.choice {
    color: #444444
}

.wufoo .instruct {
    font-size: 80%;
    font-family: inherit;
    color: #444444
}


/* EDITS */

/*Page Break */
td.c.selected {
    background: #123f68;
    border: 1px solid #123f68;
    color: #fff;
}


/* Radio buttons */

.radioButton input[type=radio] {
    visibility: hidden;
}

.radioButton span:nth-child(2) label.choice:hover span,
.radioButton span:nth-child(3) label.choice:hover span, 
.radioButton span:nth-child(2) input[type=radio]:checked + label.choice span,
.radioButton span:nth-child(3) input[type=radio]:checked + label.choice span,
.chkboxButtons input[type=checkbox]:checked + label.choice>span{
    color: #fff;
}

.radioButton span:nth-child(2) label.choice span {
    color: #64c832;
}
.radioButton span:nth-child(3) label.choice span {
    color: #f05050;
}


.radioButton span:nth-child(2) label.choice:hover,
.radioButton span:nth-child(2) input[type=radio]:checked + label.choice,
.chkboxButtons input[type=checkbox]:checked +label {
    background-color: #64c832;
}

.radioButton span:nth-child(2) label.choice {
    border: 2px solid #64c832;
    background-color: white;
    width: 120px;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    line-height: 150%;
    font-size: 2.0em;
    font-weight: normal;
}


.radioButton span:nth-child(3) label.choice:hover, 
.radioButton span:nth-child(3) input[type=radio]:checked + label.choice {
    background-color: #f05050;
}

.radioButton span:nth-child(3) label.choice {
    border: 2px solid #f05050;
    background-color: white;
    width: 120px;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    line-height: 150%;
    font-size: 2.0em;
    font-weight: normal;
}

/* Checkbox Buttons */

.chkboxButtons input.checkbox {
     visibility: hidden; 
}


.chkboxButtons label:hover span.choice__text {
    color: #fff;
}
.chkboxButtons label span.choice__text {
    color: #64c832;
    font-size: 19px;
}

.chkboxButtons label:hover {
    background-color: #64c832;
}

.chkboxButtons label {
    border: 1px solid #64c832;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 5px;
    width: 140px;
    height: 50px;
    text-align: center;
    line-height: 150%;
    font-size: 1em;
}

input#nextPageButton {
    
    float: right;

    background: #ff9600;
    background: -webkit-linear-gradient(#ff9600, #ff9600);
    background: linear-gradient(#ff9600, #ff9600);
    border-radius: 10px;
    color: #fff;
    padding: 16px 20px;
    font: normal 700 29px/1 "Open Sans", sans-serif;
    text-align: center;
    text-shadow: none;

}

button#previousPageButton {
    float: left;
}