/* - - - - - - - - - - - - - - - - - - - - -

 Title : Duplicate Striped Theme
 Author : Myke Agonia
 URL : http://mykeagonia08.github.io/css/wufoo/custom.css

 Last Updated : 

- - - - - - - - - - - - - - - - - - - - - */


/* - - - Duplicate Striped Theme - - - */


/************Structure**************/
.wufoo {
    border: 1px solid #93a8a9;
}

.wufoo b {
  font-size: 125%;
  font-weight: bold;
}

.wufoo .info {
  padding: 0 0 1.1em 0;
}

.wufoo .info,
.wufoo .paging-context {
  border: 0;
}

.wufoo ul {
  padding: 0 1% 0 1%;
}

.wufoo .info h2 {
    margin-bottom: 10px;
    padding:  5px;
    font-size: 18px;
    color: #fff;
    background: #0D6796;
    text-align: center;
    border-bottom:  none;

}

.wufoo .info div {
  font-size: 16px;
  text-align: center;
}

.wufoo label.desc,
.wufoo legend.desc {
  width: 100%;
  font-size: 16px;
  padding-bottom: 5px;
}

.wufoo li span input[type="tel"] {
    width: 72px;
}

.wufoo input.text {
    height: 45px;
    width: 100%;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
}

.wufoo textarea.textarea {
    border-radius: 10px;
}

.wufoo li.notStacked div span {
    margin: 0;
}

.wufoo .done var {
    background: #0D6796;
    border: 1px solid #0D6796;
    color: #ffffff;
}

.noI .leftLabel .buttons div,
.noI .rightLabel .buttons div {
    margin: 0;
}

.noI .leftLabel .Stp1Btn, 
.noI .rightLabel .Stp1Btn, 
.noI .leftLabel .Stp2Btn, 
.noI .rightLabel .Stp2Btn {
    float: right;
}

form li.buttons input {
  font-size: 130%;
}

input.btTxt {
    overflow: visible;
    padding: 0 20px;
    width: auto;
}


/* Radio buttons */
.radioButton input[type=radio] {
    visibility: hidden;
}
.radioButton span:nth-child(2) label.choice:hover span,
.radioButton span:nth-child(3) label.choice:hover span, 
.radioButton span:nth-child(2) input[type=radio]:checked + label.choice span,
.radioButton span:nth-child(3) input[type=radio]:checked + label.choice span,
.chkboxButtons input[type=checkbox]:checked + label.choice>span{
    color: #fff;
}
.radioButton span:nth-child(2) label.choice span {
    color: #64c832;
}
.radioButton span:nth-child(3) label.choice span {
    color: #f05050;
}
.radioButton span:nth-child(2) label.choice:hover,
.radioButton span:nth-child(2) input[type=radio]:checked + label.choice,
.chkboxButtons input[type=checkbox]:checked +label {
    background-color: #64c832;
}
.radioButton span:nth-child(2) label.choice {
    padding: 12px 0;
    border: 2px solid #64c832;
    background-color: white;
    width: 110px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    line-height: 150%;
    font-size: 18px;
    font-weight: bold;
}
.radioButton span:nth-child(3) label.choice:hover, 
.radioButton span:nth-child(3) input[type=radio]:checked + label.choice {
    background-color: #f05050;
}
.radioButton span:nth-child(3) label.choice {
    margin-left: 10px;
    padding: 12px 0;
    border: 2px solid #f05050;
    background-color: white;
    width: 110px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    line-height: 150%;
    font-size: 18px;
    font-weight: bold;
}

/* Checkbox Buttons */
.chkboxButtons input.checkbox {
     visibility: hidden; 
}
.chkboxButtons label:hover span.choice__text {
    color: #fff;
}
.chkboxButtons label span.choice__text {
    color: #64c832;
    font-size: 19px;
}
.chkboxButtons label:hover {
    background-color: #64c832;
}
.chkboxButtons label {
    border: 1px solid #64c832;
    margin: 5px 10px;
    background-color: #fff;
    border-radius: 5px;
    width: 120px;
    height: 50px;
    text-align: center;
    line-height: 150%;
    font-size: 1em;
}



/*Next Page AND Save Form Button */
.noI .rightLabel .buttons,
.rightLabel .buttons,
.noI .leftLabel .buttons,
.leftLabel .buttons {
  padding-left: 0;
}

.leftLabel li div, .rightLabel li div {
  width: 100%;
}
.wufoo input#saveForm,
.wufoo input#nextPageButton {
    white-space: normal;
    background: #ff9600;
    background: -webkit-linear-gradient(#ff9600, #ff9600);
    background: linear-gradient(#ff9600, #ff9600);
    border-radius: 10px;
    color: #fff;
    display: inline-block;
    padding: 16px 20px;
    font: normal 700 22px/1 "Open Sans", sans-serif;
    text-align: center;
    text-shadow: none;

    -webkit-appearance: none;  /*To have same style in other browsers like Safari, Mozilla, Opera */
}

/*Previous Page Button*/
.wufoo button#previousPageButton {
    display: block;
}

.wufoo td.c.selected var {
  background: #0D6796;
  border: 1px solid #0D6796;
  color: #fff;
}

.wufoo td.t #pagecircle3,
.wufoo td.t #pagecircle2, 
.wufoo td.t #pagecircle1 {
  color: #444;
}

/* ===== Progress Bar Striped Animated ===== */

.wufoo b,
.wufoo em {
    color: #0D6796;
}

.wufoo em{
    font-weight: 900;
    font-size: 16px;
}

.wufoo li.paging-context td,
.wufoo li.paging-context tr {
    background: none;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}

.wufoo li.paging-context var {
    background-color:#d3d3d3;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -ms-border-radius:20px;
    border-radius:20px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
    background-image:
        -webkit-linear-gradient(
        -45deg,
        rgba(255, 154, 26, 1) 25%,
        transparent 25%,
        transparent 50%,
        rgba(255, 154, 26, 1) 50%,
        rgba(255, 154, 26, 1) 75%,
        transparent 75%,
        transparent
    );
    background-image:
        -moz-linear-gradient(
        -45deg,
        rgba(255, 154, 26, 1) 25%,
        transparent 25%,
        transparent 50%,
        rgba(255, 154, 26, 1) 50%,
        rgba(255, 154, 26, 1) 75%,
        transparent 75%,
        transparent
    );
    background-image:
        -ms-linear-gradient(
        -45deg,
        rgba(255, 154, 26, 1) 25%,
        transparent 25%,
        transparent 50%,
        rgba(255, 154, 26, 1) 50%,
        rgba(255, 154, 26, 1) 75%,
        transparent 75%,
        transparent
    );
    background-image:
        linear-gradient(
        -45deg,
        rgba(255, 154, 26, 1) 25%,
        transparent 25%,
        transparent 50%,
        rgba(255, 154, 26, 1) 50%,
        rgba(255, 154, 26, 1) 75%,
        transparent 75%,
        transparent
    );
    -webkit-background-size:50px 50px;
    -moz-background-size:50px 50px;
    -ms-background-size:50px 50px;
    background-size:50px 50px;
    -webkit-animation:move 2s linear infinite;
    -moz-animation:move 2s linear infinite;
    -ms-animation:move 2s linear infinite;
    animation:move 2s linear infinite;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -ms-border-radius:20px;
    border-radius:20px;
    overflow: hidden;
    -webkit-box-shadow:inset 0 10px 0 rgba(255,255,255,.2);
    -moz-box-shadow:inset 0 10px 0 rgba(255,255,255,.2);
    -ms-box-shadow:inset 0 10px 0 rgba(255,255,255,.2);
    box-shadow:inset 0 10px 0 rgba(255,255,255,.2);

}

/*
Animate the stripes
*/	
@-webkit-keyframes move{
  0% {
  	background-position: 0 0;
  }
  100% {
  	background-position: 50px 50px;
  }
}	
@-moz-keyframes move{
  0% {
  	background-position: 0 0;
  }
  100% {
  	background-position: 50px 50px;
  }
}	
@-ms-keyframes move{
  0% {
  	background-position: 0 0;
  }
  100% {
  	background-position: 50px 50px;
  }
}	
@keyframes move{
  0% {
  	background-position: 0 0;
  }
  100% {
  	background-position: 50px 50px;
  }
}	
/* ===== END Progress Bar Striped Animated ===== */


/************End Structure**************/


/************Mobile Queries**************/

    @media only screen and (min-width : 245px) {


        li.twoColumns div span {
            margin: 0;
        }
        .chkboxButtons label {
            width: 95px;
        }
        .chkboxButtons label span.choice__text {
            font-size: 16px;
        }

        .wufoo .radioButton span:nth-child(2) label.choice {
            margin-left: 12px;
        }

        .wufoo .radioButton span:nth-child(2) label.choice, 
        .wufoo .radioButton span:nth-child(3) label.choice {
            width: 95px;
        }

        .wufoo .Stp1Btn input#nextPageButton {
            font: normal 700 18px/1 "Open Sans", sans-serif;
        }
        .wufoo .Stp2Btn input#nextPageButton {
            font: normal 700 22px/1 "Open Sans", sans-serif;
        }
        .wufoo li span input[type="tel"] {
            width:60px;
        }
        .wufoo input#saveForm {
        font: normal 700 17px/1 "Open Sans", sans-serif;
        }

    }

    @media only screen and (min-width : 280px) {

        li.twoColumns div span {
            margin: 0;
        }
        .chkboxButtons label {
            width: 95px;
        }
        .chkboxButtons label span.choice__text {
            font-size: 16px;
        }
        .wufoo li span input[type="tel"] {
            width:60px;
        }
        .wufoo .radioButton span:nth-child(2) label.choice, 
        .wufoo .radioButton span:nth-child(3) label.choice {
            width: 95px;
        }
        .wufoo .Stp1Btn input#nextPageButton {
            font: normal 700 19px/1 "Open Sans", sans-serif;
        }
        .wufoo .Stp2Btn input#nextPageButton {
            font: normal 700 23px/1 "Open Sans", sans-serif;
        }
        .wufoo input#saveForm {
        font: normal 700 18px/1 "Open Sans", sans-serif;
        }

    }

    @media only screen and (min-width : 298px) {

        .chkboxButtons label {
            width: 128px;
        }

        .wufoo .radioButton span:nth-child(2) label.choice,
        .wufoo .radioButton span:nth-child(3) label.choice {
            width: 121px;
        }

        .wufoo li span input[type="tel"] {
            width: 80px;
        }

        .wufoo .Stp1Btn input#nextPageButton {
            font: normal 700 23px/1 "Open Sans", sans-serif;
        }
        .wufoo .Stp2Btn input#nextPageButton {
            font: normal 700 28px/1 "Open Sans", sans-serif;
        }
        .wufoo input#saveForm {
        font: normal 700 18px/1 "Open Sans", sans-serif;
        }

    }

    /* Custom, iPhone Retina */ 
    /* min-width 320px will be the default css*/
    /*@media only screen and (min-width : 320px) {

    }*/

    @media only screen and (min-width : 360px) {

        .wufoo li span input[type="tel"] {
            width: 85px;
        }

        .wufoo .radioButton span:nth-child(2) label.choice {
            margin-left: 28px;
        }

        .wufoo .radioButton span:nth-child(2) label.choice, 
        .wufoo .radioButton span:nth-child(3) label.choice {
            width: 125px;
        }

        .chkboxButtons label {
            width: 140px;
        }
    }

    @media only screen and (min-width : 375px) {
        
        .wufoo li span input[type="tel"] {
            width: 90px;
        }

        .wufoo .radioButton span:nth-child(2) label.choice, 
        .wufoo .radioButton span:nth-child(3) label.choice {
            width: 130px;
        }

        .chkboxButtons label {
            width: 145px;
        }

    }

    @media only screen and (min-width : 414px) {

        .wufoo li span input[type="tel"] {
            width: 100px;
        }

        .wufoo .radioButton span:nth-child(2) label.choice, 
        .wufoo .radioButton span:nth-child(3) label.choice {
            width: 130px;
        }

        .chkboxButtons label {
            width: 170px;
        }

    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {
        .chkboxButtons label,
        .wufoo .radioButton span:nth-child(2) label.choice, 
        .wufoo .radioButton span:nth-child(3) label.choice {
            width: 180px;
        }
    }

    @media only screen and (min-width : 568px) {

        .chkboxButtons label {
            width: 240px;
        }
        
        .wufoo .radioButton span:nth-child(2) label.choice, 
        .wufoo .radioButton span:nth-child(3) label.choice {
            width: 240px;
        }

    }

    @media only screen and (min-width : 600px) {

        .noI .rightLabel .buttons,
        .rightLabel .buttons,
        .noI .leftLabel .buttons,
        .leftLabel .buttons {
            padding-left: 10%;
        }

        .wufoo input.text {
            width: 305px;
        }

        .wufoo .formMsg > label.desc {
            width: 100%;
            margin: 0;
        }

        .wufoo .radioButton span:nth-child(2) label.choice {
            margin-left: 10px;
        }

        .wufoo button#previousPageButton {
            color: #000;
        }

        .wufoo .chkboxButtons label {
            width: 140px;
        }

        .wufoo li span input[type="tel"] {
            width: 88px;
        }

        .wufoo label.desc,
        .wufoo legend.desc {
            font-size: 100%;
            font-weight: normal;
            width: 25%;
        }
        
        .leftLabel .buttons div,
        .rightLabel .buttons div {
            width: 100%;
        }

        .leftLabel .desc,
        .rightLabel .desc {
             float: left;
            margin: 0 15px 0 0;
            padding-left: 80px;
            width: 32%;
        }

        .leftLabel li div, .rightLabel li div {
            width: 52%;
        }

        .wufoo .radioButton span:nth-child(2) label.choice,
        .wufoo .radioButton span:nth-child(3) label.choice {
            width: 120px;
        }

        .wufoo input#saveForm,
        .wufoo input#nextPageButton {
            font: normal 700 29px/1 "Open Sans", sans-serif;
        }


    }

    /* Default Desktop Baseline */
    @media only screen and (min-width : 714px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {

    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {

    }

    @media only screen and (min-width : 1280px) {

    }

    @media only screen and (min-width : 1366px) {

    }

    @media only screen and (min-width : 1440px) {

    }

    @media only screen and (min-width : 1920px) {

    }

/************End Mobile Queries**************/